<!DOCTYPE html>
<html>
<head>
  <title>Timeless</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

  <script type='text/javascript'

  <script src="https://widget.cloudinary.com/global/all.js" charset="utf-8"></script>
  <script type="text/javascript">
    <% if logged_in? %>
        window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
    <% end %>
  </script>
  <script type="text/javascript">
    window.cloudinaryOptions = {
      cloud_name: 'timeless',
      upload_preset: 'qyfqeaj2',
      theme: "minimal"
    }
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
