<!DOCTYPE html>
<html>
<head>
  <title>Timeless</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">


  <script type='text/javascript' src="https://widget.cloudinary.com/global/all.js" charset="utf-8"></script>
  <script type="text/javascript">
    window.cloudinary_options = {
      cloud_name: '<%= ENV['cloud_name'] %>',
      upload_preset: '<%= ENV['upload_preset'] %>',

      theme: "minimal"
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
